$bs-button-color: $bs-cyan-4;
$bs-button-white-color: $bs-white;

$bs-button-disabled-color: #D1D7D8;

$bs-button-contained-hover: $bs-cyan-6;
$bs-button-contained-active: $bs-cyan-7;

$bs-button-outlined-background-hover: rgba(0, 234, 220, 0.05);
$bs-button-outlined-background-active: rgba(0, 234, 220, 0.1);

$bs-gradient: linear-gradient(96.51deg, #00ffa6 -10.52%, #008cff 50.85%, #0026ff 112.81%);

.bs-button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  color: $bs-button-color;
  cursor: pointer;
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  padding: spacing(2) spacing(4);
  text-decoration: none;
  text-align: center;

  &:focus {
    outline: none;
  }

  &.small {
    padding: spacing(1) spacing(3);
  }

  &.contained {
    background-color: $bs-button-color;
    border-color: $bs-button-color;
    color: $bs-white;
    transition: background-color $bs-transition-base;

    &:hover {
      background-color: $bs-button-contained-hover;
    }

    &:active {
      background-color: $bs-button-contained-active;
    }

    &:disabled {
      background-color: $bs-button-disabled-color;
      border-color: $bs-button-disabled-color;
    }

    &.white {
      background-color: $bs-button-white-color;
      border-color: $bs-button-white-color;
      color: $bs-cyan-4;
      transition: opacity $bs-transition-base;

      &:hover {
        opacity: 0.9;
      }

      &:active {
        opacity: 0.8;
      }

      &:disabled {
        opacity: 0.9;
      }
    }
  }

  &.outlined {
    background-color: transparent;
    border-color: $bs-button-color;
    color: $bs-button-color;

    &:hover {
      background-color: $bs-button-outlined-background-hover;
    }

    &:active {
      background-color: $bs-button-outlined-background-active;
    }

    &:disabled {
      background-color: transparent;
      border-color: $bs-button-disabled-color;
      color: $bs-button-disabled-color;
    }
  }

  &.gradient-hover {
    border: 0;
    position: relative;

    &.black {
      background: #000;
      color: #000;
      &::after {
        background-color: #fff;
      }
    }

    &.white {
      background: #fff;
      color: #fff;
      &::after {
        background-color: #000;
      }
    }

    &::after {
      border-radius: 4px;
      content: "";
      position: absolute;
      top: 1px;
      left: 1px;
      height: calc(100% - 2px);
      width: calc(100% - 2px);
      z-index: 1;
    }

    &:hover {
      background: $bs-gradient;
      &::after {
        background-color: transparent;
      }
      .text {
        color: #fff;
      }
    }

    .text {
      position: relative;
      color: inherit;
      z-index: 2;
    }
  }
}
