// Colors

$bs-cyan-1: #00d4eb;
$bs-cyan-2: #00c7dd;
$bs-cyan-3: #009cad;
$bs-cyan-4: #008b9a;
$bs-cyan-5: #3fc8d6;
$bs-cyan-6: #007885;
$bs-cyan-7: #006c78;
$bs-cyan-8: #079faf;

$bs-black: #202020;
$bs-white: #fff;
$bs-light-gray: #F5F5F7; // FIXME: rename, check partner-ru page
$bs-gray-2: #EFF0F2;
$bs-gray-3: #F9F9F9;

$bs-error-color: #de5a5a;

$bs-z-index-top: 1000;
$bs-z-index-middle: 100;
$bs-z-index-below: -1;
$bs-z-index-popup: $bs-z-index-top + 10;

$bs-transition-base: 150ms ease-in-out;

$header-height: 80px;
$header-mobile-height: 60px;

// Media queries

$bs-phone: 360px;
$bs-tablet: 768px;
$bs-sm-desktop: 1024px;
$bs-desktop: 1160px;

@function translate-media-condition($c) {
  $conditionsMap: (
    "phone": "(max-width: #{$bs-tablet - 1px})",
    "tablet":
      "(min-width: #{$bs-tablet}) and (max-width: #{$bs-sm-desktop - 1px})",
    "sm-desktop":
      "(min-width: #{$bs-sm-desktop}) and (max-width: #{$bs-desktop - 1px})",
    "desktop": "(min-width: #{$bs-desktop})",
  );
  @return map-get($conditionsMap, $c);
}

@mixin media($args...) {
  $result: "";
  @each $arg in $args {
    $result: translate-media-condition($arg);
    @media #{$result} {
      @content;
    }
  }
}

/*
 * Spacing uses 8px space maker strategy (like material design)
 * 1 size = 8px
 */
@function spacing($size: 1) {
  @return $size * 8px;
}
