.site-footer {
  display: flex;
  flex-direction: column;
  background-color: $bs-footer-bg-color;
  padding-top: spacing(2);

  .bs-flex-container {
    .bs-flex-row {
      flex-direction: column;

      @include media('sm-desktop', 'desktop') {
        flex-direction: row;
      }

      .menu-container {
        margin: spacing(2) 0;

        @include media('sm-desktop', 'desktop') {
          flex: 0 0 25%;
          max-width: 25%;
          padding: 0 spacing(2);
        }

        .bs-heading-h5 {
          color: $bs-footer-heading-color;
          margin: 0 0 spacing(1) 0;
        }

        .menu {
          list-style-type: none;
          line-height: 21px;
          padding: 0;
          margin: 0;

          .item {
            .link {
              font-weight: 400;
              font-size: 14px;
              color: $bs-footer-link-color;
              text-decoration: none;

              &:hover {
                color: $bs-footer-link-active-color;
              }
            }
          }

          &.socials {
            display: flex;

            .item {
              & + .item {
                margin-left: spacing(2);
              }

              .link {
                color: $bs-footer-link-color;
                fill: $bs-footer-link-color;
              }
            }
          }
        }
      }
    }
  }

  .copyright {
    background-color: $bs-black;
    color: #959BA6;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-top: spacing(2);
    padding: spacing(1);
  }
}