$bs-form-input-background-color: #EFF0F2;
$bs-form-input-border-color: #EFF0F2;
$bs-form-input-text-color: $bs-black;
$bs-form-input-placeholder-color: #8A9496;

$bs-form-input-border-color-hover: rgba(0, 120, 133, 0.1);

$bs-form-input-background-color-active: #fff;
$bs-form-input-border-color-active: $bs-cyan-4;

// Labels
$bs-form-label-checkbox-hover-color: $bs-cyan-4;

// Checkbox
$bs-form-checkbox-background-color: #C0D0D3;
$bs-form-checkbox-border-color: #fff;

$bs-form-checkbox-focus-background-color: #E6FDFC;
$bs-form-checkbox-focus-border-color: $bs-cyan-4;
$bs-form-checkbox-focus-before-border-color: #E6FDFC;

$bs-form-checkbox-hover-background-color: #E6FDFC;
$bs-form-checkbox-hover-border-color: $bs-cyan-4;

$bs-form-checkbox-active-background-color: $bs-cyan-4;
$bs-form-checkbox-active-border-color: $bs-cyan-4;
$bs-form-checkbox-active-mark-color: #fff;

// Radio
$bs-form-radio-border-color: #C0D0D3;
$bs-form-radio-background-color: #fff;

$bs-form-radio-focus-before-border-color: #E6FDFC;
$bs-form-radio-focus-background-color: #E6FDFC;
$bs-form-radio-focus-border-color: $bs-cyan-4;

$bs-form-radio-active-dot-color: $bs-cyan-4;

$bs-form-radio-hover-background-color: #E6FDFC;
$bs-form-radio-hover-border-color: $bs-cyan-4;

$bs-form-radio-checked-background-color: #fff;
$bs-form-radio-checked-border-color: $bs-cyan-4;


@mixin textFieldPlaceholder() {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $bs-form-input-placeholder-color;
}

@mixin textFieldStyles() {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $bs-black;
  background-color: $bs-form-input-background-color;
  border: 1px solid $bs-form-input-border-color;
  border-radius: 4px;
  display: block;
  padding: spacing(2);
  margin-top: spacing(1);
  width: 100%;
  max-width: 100%;
  transition: all $bs-transition-base;

  &:required:invalid {
    border: 1px solid $bs-error-color;
  }

  &:hover {
    border-color: $bs-form-input-border-color-hover;
  }

  &:focus {
    background-color: $bs-form-input-background-color-active;
    border-color: $bs-form-input-border-color-active;
    box-shadow: 0px 4px 4px rgba(0, 108, 120, 0.2);
    outline: none;
  }

  &::-webkit-input-placeholder {
    @include textFieldPlaceholder();
  }
  &::-moz-placeholder {
    @include textFieldPlaceholder();
  }
  &:-ms-input-placeholder {
    @include textFieldPlaceholder();
  }
  &:-moz-placeholder {
    @include textFieldPlaceholder();
  }
}

@mixin labelStyles() {
  display: flex;
  align-items: center;
  color: $bs-black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  max-width: 100%;
  margin-top: spacing(1);
}

/*
 * Error
 */
.bs-form-error {
  color: $bs-error-color;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

/*
 * Labels
 */
.bs-form-label {
  @include labelStyles();
}

.bs-form-label-checkbox,
.bs-form-label-radio {
  @include labelStyles();
  min-height: 24px;
  transition: color $bs-transition-base;

  &:hover {
    color: $bs-form-label-checkbox-hover-color;
  }
}

/*
 * Controls
 */
.bs-form-input {
  @include textFieldStyles();
}

.bs-form-textarea {
  @include textFieldStyles();
  resize: none;
}

.bs-form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid $bs-form-checkbox-background-color;
  border-radius: 4px;
  background-color: $bs-form-checkbox-border-color;
  cursor: pointer;
  margin-right: spacing(2);
  height: 24px;
  width: 24px;
  max-width: 24px;
  position: relative;
  transition: all $bs-transition-base;

  &:before {
    content: '';
    border: 2px solid $bs-form-checkbox-focus-before-border-color;
    display: block;
    border-radius: 4px;
    top: -5px;
    left: -5px;
    opacity: 0;
    position: absolute;
    height: calc(24px + 4px);
    width: calc(24px + 4px);
    transition: opacity $bs-transition-base;
  }

  &:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    width: 5px;
    height: 9px;
    border: 2px solid $bs-form-checkbox-active-mark-color;
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    opacity: 0;
    transform: rotate(43deg);
    transition: opacity $bs-transition-base;
  }

  &:hover {
    background-color: $bs-form-checkbox-hover-background-color;
    border: 1px solid $bs-form-checkbox-hover-border-color;
  }

  &:focus {
    background-color: $bs-form-checkbox-focus-background-color;
    border: 1px solid $bs-form-checkbox-focus-border-color;
    outline: none;

    &:before {
      opacity: 1;
    }
  }

  &:checked {
    background-color: $bs-form-checkbox-active-background-color;
    border: 1px solid $bs-form-checkbox-active-border-color;

    &:after {
      opacity: 1;
    }
  }
}

.bs-form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid $bs-form-radio-border-color;
  border-radius: 50%;
  background-color: $bs-form-radio-background-color;
  cursor: pointer;
  margin-right: spacing(2);
  height: 24px;
  width: 24px;
  max-width: 24px;
  position: relative;
  transition: all $bs-transition-base;

  &:before {
    content: '';
    border: 2px solid $bs-form-radio-focus-before-border-color;
    border-radius: 50%;
    display: block;
    top: -5px;
    left: -5px;
    opacity: 0;
    position: absolute;
    height: calc(24px + 4px);
    width: calc(24px + 4px);
    transition: opacity $bs-transition-base;
  }

  &:after {
    content: '';
    background-color: $bs-form-radio-active-dot-color;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    top: 4px;
    left: 4px;
    height: 14px;
    width: 14px;
    max-width: 14px;
    transition: opacity $bs-transition-base;
  }

  &:hover {
    background-color: $bs-form-radio-hover-background-color;
    border: 1px solid $bs-form-radio-hover-border-color;
  }

  &:focus {
    background-color: $bs-form-radio-focus-background-color;
    border: 1px solid $bs-form-radio-focus-border-color;
    outline: none;

    &:before {
      opacity: 1;
    }
  }

  &:checked {
    background-color: $bs-form-radio-checked-background-color;
    border: 2px solid $bs-form-radio-checked-border-color;

    &:after {
      opacity: 1;
      top: 3px;
      left: 3px;
    }

    &:before {
      top: -6px;
      left: -6px;
    }
  }
}

.bs-form-select {
  @mixin itemStyles() {
    color: $bs-black;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 14px spacing(2);
    transition: all $bs-transition-base;
  }

  .choices[data-type*=select-one] {
    margin-top: spacing(1);

    &:after {
      background: transparent url(../images/select-toggle-arrow-icon.svg) no-repeat center;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      height: 100%;
      top: 0;
      right: 0;
      margin: 0;
      width: 56px;
      transition: transform $bs-transition-base;
    }

    .choices__inner {
      display: block;
      background-color: #EFF0F2;
      border: 1px solid #EFF0F2;
      border-radius: 4px;
      padding: 0;
      transition: all $bs-transition-base;

      &:hover {
        border-color: rgba(0, 120, 133, 0.1);
      }

      .choices__list--single {
        padding: 0;

        .choices__item {
          @include itemStyles();
        }
      }
    }

    .choices__list--dropdown {
      border: none;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0px 4px 4px rgba(0, 108, 120, 0.2);
      opacity: 0;
      transition: all $bs-transition-base;

      .choices__item {
        @include itemStyles();
        transition: all $bs-transition-base;
  
        &.is-highlighted {
          background-color: #EEFAF9;
          color: $bs-cyan-6;
        }
      }
    }
    
    &.is-open {
      &:after {
        transform: rotate(180deg);
      }

      .choices__inner {
        border-color: $bs-cyan-4;
        box-shadow: 0px 4px 4px rgba(0, 108, 120, 0.2);

        .choices__item {
          background-color: #fff;
        }
      }

      .choices__list--dropdown {
        display: block;
        opacity: 1;
        transform: translateY(#{spacing(1)});
      }
    }
  }
}
