$bs-road-map-section-hero-title-color: #F5F5F7;
$bs-road-map-section-bg-color: #E5E5E5;
$bs-road-map-section-block-grey-bg-color: #FBFBFB;
$bs-road-map-section-block-white-bg-color: #fff;
$bs-road-map-section-block-label-dark-color: #7B7C83;
$bs-road-map-section-block-label-light-color: #EFF0F2;

$bs-road-map-section-table-row-body-bg-color: #FBFBFB;
$bs-road-map-section-table-row-even-body-bg-color: #fff;

.page-road-map {

  .section-hero {
    background: right top 20px / auto 95% no-repeat url('../images/page-roadmap-hero-bg-right-mobile.svg'),
                left 8px bottom 55px no-repeat url('../images/page-roadmap-hero-bg-left-mobile.svg');
    background-color: $bs-black;
    padding: spacing(5) 0;

    @include media('sm-desktop', 'desktop') {
      background: $bs-black center top 8px no-repeat url('../images/page-roadmap-hero-bg-desktop.svg');
    }

    .bs-flex-container {
      padding-left: spacing(6);
      padding-right: spacing(6);

      @include media('sm-desktop', 'desktop') {
        padding-left: spacing(2);
        padding-right: spacing(2);
      }

      .bs-heading-h1 {
        font-weight: 700;
        color: $bs-road-map-section-hero-title-color;
        text-transform: uppercase;
        text-align: center;

        @include media('sm-desktop', 'desktop') {
          text-align: left;
        }
      }
    }
  }

  .section-road-map {
    background-color: $bs-road-map-section-bg-color;
    padding: spacing(3) 0 spacing(12);

    @include media('sm-desktop', 'desktop') {
      padding-top: spacing(8);
    }

    .road-map {
      .mobile-layout {
        @include media('sm-desktop', 'desktop') {
          display: none;
        }

        .bs-flex-container {
          .title {
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: $bs-black;
            text-transform: uppercase;
            margin-top: spacing(3);
            margin-bottom: spacing(1);
  
            &:first-child {
              margin-top: 0;
            }
          }
  
          .block {
            border: 1px solid rgba(32, 32, 32, 0.1);
            border-radius: spacing(1);
            padding: spacing(3);
  
            &.grey {
              background-color: $bs-road-map-section-block-grey-bg-color;
  
              &:nth-of-type(even) {
                background-color: $bs-road-map-section-block-white-bg-color;
              }
  
              .label {
                color: $bs-road-map-section-block-label-dark-color;
              }
  
              .text {
                color: $bs-black;
              }
            }
  
            &.cyan {
              background-color: $bs-cyan-4;
            }
  
            &.cyan-light {
              background-color: $bs-cyan-8;
            }
  
            &.cyan,
            &.cyan-light {
              .label {
                color: $bs-road-map-section-block-label-light-color;
              }
  
              .text {
                color: $bs-white;
              }
            }
  
            .label {
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
              margin-top: spacing(2);
  
              &:first-child {
                margin-top: 0;
              }
  
              & + .label {
                margin-top: spacing(1);
              }
  
              & + .row {
                margin-top: spacing(1);
              }
            }
  
            .text {
              font-size: 16px;
              font-weight: 700;
              line-height: 24px;
              margin: 0;
            }
  
            .row {
              display: flex;
              margin-top: spacing(2);
  
              .col {
                flex: 0 0 50%;
              }
            }
          }
        }
      }

      .desktop-layout {
        display: none;

        @include media('sm-desktop', 'desktop') {
          display: block;
        }

        .table-title {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: $bs-black;
          margin: spacing(3) 0;
          text-align: center;
        }

        .table-container {
          position: relative;
          padding-left: spacing(5);

          .table-side-title {
            font-weight: 700;
            font-size: 22px;
            line-height: 33px;
            color: $bs-black;
            text-transform: uppercase;
            text-align: center;
            margin: 0;

            writing-mode: vertical-lr;
            transform: rotate(180deg);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
          }

          table {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-align: left;
            width: 100%;

            &.cyan {
              tr {
                background-color: $bs-cyan-4;
                color: $bs-white;
  
                &:nth-child(even) {
                  background-color: $bs-cyan-8;
                }
              }
            }

            td, th {
              width: 25%;

              &.fixed-width {
                &:after {
                  display: block;
                  content: '';
                  width: 200px;
                }
                width: 200px;
              }

              &.compact {
                width: 12.5%;
              }

              &.bottom-align {
                vertical-align: bottom;
              }
            }
  
            thead {
              tr {
                th {
                  background-color: $bs-black;
                  color: $bs-white;
                  padding-top: 6px;
                  padding-bottom: 6px;

                  &:first-child {
                    border-radius: spacing(1) 0 0 spacing(1);
                    padding-left: spacing(4);
                  }
    
                  &:last-child {
                    border-radius: 0 spacing(1) spacing(1) 0;
                    padding-right: spacing(4);
                  }

                  .th-subtitle {
                    font-weight: 400;
                  }
                }
              }
            }
  
            tbody {
              tr {
                $border: 1px solid rgba(32, 32, 32, 0.1);
                background-color: $bs-road-map-section-table-row-body-bg-color;
                color: $bs-black;
  
                &:nth-child(even) {
                  background-color: $bs-road-map-section-table-row-even-body-bg-color;
                }
  
                td {
                  border-bottom: $border;
                  padding-top: 20px;
                  padding-bottom: 20px;
  
                  &:first-child {
                    border-radius: spacing(1) 0 0 spacing(1);
                    border-left: $border;
                    padding-left: spacing(4);
                  }
    
                  &:last-child {
                    border-radius: 0 spacing(1) spacing(1) 0;
                    border-right: $border;
                    padding-right: spacing(4);
                  }
                }
              }
            }
          }
        }
      }
    }

    .description {
      margin-top: spacing(6);

      @include media('sm-desktop', 'desktop') {
        margin-top: spacing(8);
      }

      .bs-flex-container {
        .text {
          display: block;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: $bs-black;
          margin: 0;

          @include media('sm-desktop', 'desktop') {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}