$bs-heading-color-default: $bs-black;

.bs-heading-h1 {
  color: $bs-heading-color-default;
  font-family: inherit;
  font-weight: 600;
  font-size: 48px;
  line-height: 73px;
  margin: 0;
  width: 100%;
}

.bs-heading-h2 {
  color: $bs-heading-color-default;
  font-family: inherit;
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
  margin: 0;
  width: 100%;
}

.bs-heading-h3 {
  color: $bs-heading-color-default;
  font-family: inherit;
  font-weight: 400;
  font-size: 36px;
  line-height: 55px;
  margin: 0;
  width: 100%;
}

.bs-heading-h4 {
  color: $bs-heading-color-default;
  font-family: inherit;
  font-weight: 400;
  font-size: 30px;
  line-height: 46px;
  margin: 0;
  width: 100%;
}

.bs-heading-h5 {
  color: $bs-heading-color-default;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  width: 100%;
}

.bs-subtitle {
  color: $bs-black;
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  width: 100%;
}

.bs-list-check-mark-type {
  list-style-type: none;

  li {
    position: relative;
    padding-left: spacing(2);

    &:before {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: inherit;
      line-height: inherit;
      content: "\2713";
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
