body.page-libericajdk-vs-openjdk {
  // FIXME: anchors menu, hero title width, make modal, page refres on change width
  // TODO: V2 move to typography
  /*
   * COMMON
   */
  $page-container-width: 776px;
  $section-gaps-mobile: spacing(6);
  $section-gaps: spacing(12);

  @mixin bs-card-container {
    background-color: $bs-white;
    border-radius: spacing(1);
    padding: spacing(3);
    margin-top: spacing(6);

    @include media('tablet', 'sm-desktop', 'desktop') {
      padding: spacing(6);
    }
  }

  .bs-flex-container {
    &.small {
      max-width: $page-container-width;
    }
  }

  .colored {
    color: $bs-cyan-4;
  }

  .bs-heading-h1 {
    color: $bs-white;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    @include media("tablet", "sm-desktop", "desktop") {
      font-size: 64px;
      line-height: 72px;
    }
  }

  .bs-heading-h2 {
    color: $bs-black;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    @include media("tablet", "sm-desktop", "desktop") {
      font-size: 64px;
      line-height: 72px;
    }
  }

  .bs-heading-h3 {
    color: $bs-black;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    @include media('tablet', 'sm-desktop', 'desktop') {
      font-size: 36px;
      line-height: 48px;
    }
  }

  .bs-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: spacing(3);
    margin-bottom: 0;
    text-align: center;

    @include media('tablet', 'sm-desktop', 'desktop') {
      font-size: 20px;
      line-height: 32px;
    }
  }

  .bs-text {
    font-size: 16px;
    line-height: 24px;
    margin-top: spacing(3);
    margin-bottom: 0;
  }

  .bs-list {
    font-size: 16px;
    line-height: 24px;
  }

  .bs-card-review {
    background-color: $bs-white;
    border-radius: spacing(1);
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
    margin: spacing(6) auto 0;
    max-width: 328px;

    @include media("sm-desktop", "desktop") {
      display: flex;
      flex-direction: row-reverse;
      height: 420px;
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
      width: 100%;
    }

    .customer-info {
      background-color: $bs-gray-3;
      padding: spacing(3) spacing(3) spacing(4);

      @include media("sm-desktop", "desktop") {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex: 0 0 50%;
        max-width: 50%;
        padding: spacing(6) spacing(9) spacing(7);
        margin-top: 0;
      }

      .review {
        color: $bs-black;
        margin: spacing(3) 0;

        @include media("sm-desktop", "desktop") {
          margin-top: spacing(4);
        }
      }

      .name,
      .position {
        color: $bs-cyan-4;
      }

      .name {
        margin-top: auto;
      }
    }

    .customer-photo {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background-color: $bs-white;
      min-height: 230px;
      padding: spacing(2);
      padding-bottom: 0;

      @include media("sm-desktop", "desktop") {
        flex: 0 0 50%;
        max-width: 50%;
      }

      .image {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  .bs-table {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-top: spacing(6);
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
    width: 100%;

    @include media('tablet', 'sm-desktop', 'desktop') {
      display: table;
      white-space: initial;
    }

    tr {
      td, th {
        $border: 1px solid rgba(32, 32, 32, 0.1);
        border-bottom: $border;
        border-right: 1px solid transparentize($bs-black, 0.9);
        padding: 20px spacing(4);

        &:first-child {
          border-left: $border;
        }

        &:last-child {
          border-right: $border;
        }

        &.text-center {
          text-align: center;
        }

        &.thin {
          padding-top: 6px;
          padding-bottom: 6px;
        }
      }

      &:first-child {
        th {
          &:first-child {
            border-radius: spacing(1) 0 0 0;
          }

          &:last-child {
            border-radius: 0 spacing(1) 0 0;
          }
        }
      }

      th {
        background-color: $bs-black;
        color: $bs-white;

        &.has-colored-overlay {
          background-color: $bs-cyan-4;
        }
      }

      td {
        font-size: 14px;

        &:first-child {
          font-size: 16px;
          white-space: nowrap;

          @include media('tablet', 'sm-desktop', 'desktop') {
            white-space: inherit;
          }
        }

        &.has-colored-overlay {
          background-color: transparentize($bs-cyan-4, 0.9);
        }
      }
    }

    tbody {
      tr {
        background-color: $bs-white;
        color: $bs-black;

        &:last-child {
          td {
            &:first-child {
              border-radius: 0 0 0 spacing(1);
            }

            &:last-child {
              border-radius: 0 0 spacing(1) 0;
            }
          }
        }
      }
    }
  }

  /*
   * HERO
   */
  .section-hero {
    background: #0D093D center top 51px / contain no-repeat url('../images/linericajdk-vs-openjdk/hero-bg-mobile.png');

    @include media('sm-desktop', 'desktop') {
      background-image: url('../images/linericajdk-vs-openjdk/hero-bg.png');
      background-size: auto;
      background-position: center top;
    }

    .page-anchors {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      position: sticky;
      top: $header-mobile-height;

      @include media('sm-desktop', 'desktop') {
        top: $header-height;
      }

      .bs-flex-container {
        .bs-flex-row {
          .bs-flex-item {
            &:first-child {
              display: none;

              @include media('sm-desktop', 'desktop') {
                display: flex;
                flex: 0 0 auto;
                align-items: center;

                .logo {
                  color: $bs-white;
                }
              }
            }

            &:last-child {
              flex: 0 0 100%;
              max-width: 100%;

              @include media('sm-desktop', 'desktop') {
                flex: 0 0 auto;
                margin-left: auto;
              }

              .nav {
                .menu {
                  color: $bs-white;
                  display: flex;
                  list-style-type: none;
                  padding: spacing(2) 0;
                  overflow-x: auto;
                  margin: 0;

                  @include media('tablet') {
                    justify-content: center;
                  }

                  .item {
                    flex: 0 0 auto;

                    & + .item {
                      margin-left: spacing(3);
                    }

                    .link {
                      color: $bs-gray;
                      text-decoration: none;

                      &:hover {
                        color: $bs-white;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .bs-flex-container {
      &.content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        padding-top: 220px;
        padding-bottom: spacing(6);

        @include media('tablet') {
          padding-top: 350px;
        }

        @include media('sm-desktop', 'desktop') {
          padding-top: 450px;
        }

        @include media('tablet', 'sm-desktop', 'desktop') {
          padding-bottom: spacing(12);
        }

        .bs-heading-h1 {
          max-width: 735px;
        }

        .bs-subtitle {
          font-weight: 600;
          font-size: 20px;
          line-height: 32px;
          color: $bs-gray;
          margin-top: spacing(4);
          max-width: 580px;
        }

        .buttons-container {
          margin-top: spacing(5);
          width: 100%;

          @include media('tablet', 'sm-desktop', 'desktop') {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: spacing(6);
          }

          .bs-button {
            &:last-child {
              margin-top: spacing(2);
              color: $bs-white;

              @include media('tablet', 'sm-desktop', 'desktop') {
                margin-top: 0;
                margin-left: spacing(3);
              }
            }
          }
        }
      }
    }
  }

  /*
   * OVERVIEW
   */
  .section-overview {
    background-color: $bs-gray-2;
    padding: $section-gaps-mobile 0;

    @include media('tablet', 'sm-desktop', 'desktop') {
      padding: $section-gaps 0;
    }

    .bs-flex-container {
      .bs-subtitle {
        @include media('tablet', 'sm-desktop', 'desktop') {
          margin-top: spacing(6);
        }
      }

      .bs-flex-row.products-description {
        flex-direction: column;

        @include media('tablet', 'sm-desktop', 'desktop') {
          flex-direction: row;
        }

        .bs-flex-item {
          @include media('tablet', 'sm-desktop', 'desktop') {
            flex: 0 0 50%;
            max-width: 50%;
          }

          .bs-heading-h3 {
            margin-top: spacing(6);
          }
        }
      }

      .card-certificate {
        @include bs-card-container;

        .bs-flex-row {
          flex-direction: column;

          @include media('tablet', 'sm-desktop', 'desktop') {
            flex-direction: row;
          }

          .bs-flex-item {
            &.image-container {
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .bs-heading-h3 {
              margin-top: spacing(3);
            }
          }
        }
      }

      .modal {
        .bs-heading-h3 {
          margin-top: spacing(6);
        }

        .button-open-popup {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 0;
          margin-top: spacing(6);

          .image {
            border-radius: spacing(1);
            max-width: 100%;
          }
        }

        .bs-button {
          font-size: 16px;
          padding-left: spacing(1);
          padding-right: spacing(2);
          margin-top: spacing(6);
          margin-left: auto;
          margin-right: auto;
          max-width: 400px;

          @include media('tablet', 'sm-desktop', 'desktop') {
            font-size: 20px;
          }
        }
      }

      .card-decision {
        @include bs-card-container;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .bs-button {
          margin-top: spacing(5);
          padding-left: spacing(1);
          padding-right: spacing(1);
          width: 100%;

          @include media('tablet', 'sm-desktop', 'desktop') {
            padding-left: spacing(3);
            padding-right: spacing(3);
            width: auto;
          }
        }

        & + .bs-text {
          margin-top: spacing(6);
        }
      }
    }
  }

  /*
   * Security
   */
  .section-security {
    padding: $section-gaps-mobile 0;

    @include media('tablet', 'sm-desktop', 'desktop') {
      padding: $section-gaps 0;
    }

    .bs-flex-container {
      .bs-text {
        margin-top: spacing(3);
      }
    }
  }

  /*
   * Free up time
   */
  .section-free-up-time {
    background-color: $bs-gray-2;
    padding: $section-gaps-mobile 0;

    @include media('tablet', 'sm-desktop', 'desktop') {
      padding: $section-gaps 0;
    }

    .bs-flex-container {
      @include media("sm-desktop", "desktop") {
        align-items: center;
      }

      .benefits {
        .bs-text {
          &:first-child {
            margin-top: spacing(6);
          }
        }

        .bs-heading-h3 {
          margin-top: spacing(6);
        }
      }

      .modal {
        margin-top: spacing(6);

        .button-open-popup {
          background-color: transparent;
          border: none;
          padding: 0;
          cursor: pointer;

          .image {
            border-radius: spacing(1);
            max-width: 100%;
          }
        }

        .bs-button {
          font-size: 16px;
          padding-left: spacing(2);
          padding-right: spacing(2);
          margin: spacing(6) auto 0;
          max-width: 440px;

          @include media('tablet', 'sm-desktop', 'desktop') {
            font-size: 20px;
          }
        }
      }
    }
  }


  /*
   * Unify runtimes
   */
  .section-unify-runtimes {
    padding: $section-gaps-mobile 0;

    @include media('tablet', 'sm-desktop', 'desktop') {
      padding: $section-gaps 0;
    }

    .bs-flex-container {
      align-items: center;

      .bs-card-review {
        .customer-photo {
          padding: 0;
        }
      }

      .bs-heading-h3 {
        margin-top: spacing(6);
      }

      .bs-table {
        margin-bottom: spacing(3);

        tr {
          td, th {
            padding-left: spacing(2);
            padding-right: spacing(2);
            max-width: 80px;

            &:first-child {
              max-width: 100%;

              @include media('tablet', 'sm-desktop', 'desktop') {
                max-width: 250px;
              }
            }
          }
        }
      }

      .bs-button {
        margin-top: spacing(6);
        width: 100%;

        @include media('tablet', 'sm-desktop', 'desktop') {
          width: auto;
        }
      }
    }
  }

  /*
   * Modern tech
   */
  .section-modern-tech {
    background-color: $bs-gray-2;
    padding: $section-gaps-mobile 0;

    @include media('tablet', 'sm-desktop', 'desktop') {
      padding: $section-gaps 0;
    }

    .bs-flex-container {
      .card-advantages {
        @include bs-card-container;
        margin-bottom: spacing(3);

        .title {
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;
        }

        .bs-list {
          list-style-type: none;
          margin: 0;
          padding: 0;

          .item {
            margin-top: spacing(3);

            @include media('tablet', 'sm-desktop', 'desktop') {
              display: flex;
              align-items: center;
            }

            .text {
              margin-top: spacing(2);
              margin-bottom: 0;

              @include media('tablet', 'sm-desktop', 'desktop') {
                margin-top: 0;
                margin-left: spacing(2);
              }
            }
          }
        }
      }

      .bs-heading-h3 {
        margin-top: spacing(6);
      }

      .bs-list {
        padding-left: spacing(4);
      }
    }
  }

  .section-support {
    background-color: #0D093D;
    color: $bs-white;
    padding: $section-gaps-mobile 0;

    @include media('tablet', 'sm-desktop', 'desktop') {
      background: #0D093D center top / auto no-repeat url('../images/linericajdk-vs-openjdk/support-business-bg.svg');
      padding: $section-gaps 0;
    }

    .bs-flex-container {
      .bs-heading-h2,
      .bs-subtitle {
        color: $bs-white;
      }

      .bs-list {
        margin: spacing(6) 0 0;
        padding-left: spacing(4);

        @include media('tablet', 'sm-desktop', 'desktop') {
          columns: 2;
        }
      }

      .bs-text {
        @include media('tablet', 'sm-desktop', 'desktop') {
          margin-top: spacing(6);
        }
      }

      .bs-button {
        font-size: 16px;
        padding-left: spacing(2);
        padding-right: spacing(2);
        margin: spacing(6) auto 0;
        width: 100%;

        @include media('tablet', 'sm-desktop', 'desktop') {
          font-size: 20px;
          width: auto;
        }
      }
    }
  }

  .section-conclusion {
    background-color: $bs-cyan-4;
    padding: spacing(9) 0 spacing(6);

    @include media('tablet', 'sm-desktop', 'desktop') {
      background: $bs-cyan-4 left bottom / 100% auto no-repeat url('../images/linericajdk-vs-openjdk/conclusion-bg.svg');
      padding: spacing(12) 0 spacing(20);
    }

    .bs-flex-container {
      .bs-heading-h2 {
        color: $bs-white;
      }

      .bs-subtitle {
        color: $bs-gray;
        text-align: left;
      }
    }
  }

  .section-links {
    padding: spacing(6) 0;

    @include media('tablet', 'sm-desktop', 'desktop') {
      padding: spacing(12) 0;
    }

    .bs-flex-container {
      .title {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;

        @include media('tablet', 'sm-desktop', 'desktop') {
          font-size: 36px;
          line-height: 48px;
        }
      }

      .bs-list {
        list-style-type: none;

        @include media('tablet', 'sm-desktop', 'desktop') {
          display: flex;
          flex-wrap: wrap;
        }

        .item {
          margin-top: spacing(3);

          @include media('tablet', 'sm-desktop', 'desktop') {
            flex: 0 0 50%;
          }

          .link {
            color: $bs-cyan-4;
            text-decoration: none;
          }
        }
      }
    }
  }

  .section-features {
    background-color: $bs-gray-2;
    padding: $section-gaps-mobile 0;
    overflow-x: hidden;

    @include media('tablet', 'sm-desktop', 'desktop') {
      padding: $section-gaps 0;
    }

    .bs-flex-container {
      .bs-flex-row {
        flex-direction: column;

        @include media('sm-desktop', 'desktop') {
          flex-direction: row;
        }

        .bs-flex-item {
          display: flex;
          justify-content: center;

          @include media('sm-desktop', 'desktop') {
            flex: 0 0 33.333%;
            max-width: 33.333%;
          }

          &:first-child {
            .card {
              margin-top: 0;
            }
          }

          .card {
            @include bs-card-container;
            max-width: 360px;

            @include media('sm-desktop', 'desktop') {
              display: flex;
              flex-direction: column;
              margin-top: 0;
              min-height: 436px;
            }

            @include media('tablet', 'sm-desktop', 'desktop') {
              padding: spacing(4);
            }

            .image-container {
              display: flex;
              align-items: center;
              justify-content: center;

              .image {
                max-width: 100%;
              }
            }

            .title {
              font-size: 20px;
              font-weight: 600;
              line-height: 32px;
              margin-top: spacing(4);

              @include media('sm-desktop', 'desktop') {
                margin-top: auto;
              }
            }

            .bs-button {
              font-size: 16px;
              padding: spacing(1) spacing(2);
              margin-top: spacing(3);
            }
          }
        }
      }
    }
  }

  .section-articles {
    padding: $section-gaps-mobile 0;

    @include media('tablet', 'sm-desktop', 'desktop') {
      padding: $section-gaps 0;
    }

    .bs-flex-container {
      .bs-flex-row {
        flex-direction: column;

        @include media('tablet', 'sm-desktop', 'desktop') {
          flex-direction: row;
        }

        .bs-flex-item {
          display: flex;
          justify-content: center;
          margin-top: spacing(3);
          margin-bottom: spacing(3);

          @include media('tablet', 'sm-desktop', 'desktop') {
            flex: 0 0 50%;
            max-width: 50%;
            margin-bottom: 0;
          }

          .card {
            text-decoration: none;
            max-width: 550px;

            .image {
              max-width: 100%;
            }

            .title {
              font-weight: 600;
              font-size: 24px;
              line-height: 32px;
              color: $bs-cyan-4;
              margin-top: spacing(3);
            }

            .bs-text {
              color: $bs-black;
              margin-top: spacing(2);
            }
          }
        }
      }
    }
  }
}
