@import "common";
@import "normalize";
@import "typography";
@import "buttons";
@import "grid";
@import "form";
@import "modal_card";
@import "popup";
@import "header";
@import "footer";

@import "page-liberica-jdk";
@import "page-liberica-native-image";
@import "page-high-powered-support";
@import "page-road-map";
@import "page-pricing";
@import "page-career";
@import "page-partners-ru";
@import "page-alpaca-linux";
@import "page-alpaca-linux-download";
@import "page-template-blocks";
@import "libericajdk-vs-openjdk";

body {
  background-color: #fff;
  font-family: "Titillium Web", sans-serif;

  &.lang-ru {
    font-family: 'Exo 2', sans-serif;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

* {
  box-sizing: border-box;
}
